 <!-- About Section -->
    <div class="success" id="about">
    <section class="fro" data-speed="3" data-type="background">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>This is Carlos</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                <img src="/img/computers.jpg" class="profile">
                    <p>I am a interactive designer able to lead a team or work along-side in the trenches and get my hands dirty when it comes to wire framing, front-end development, prototyping, production, or whatever it takes to solve problems and get results. I have a passion for creating interactive visual experiences keep users engaged. I have been known to code while having a baby on my lap! I look forward to any projects involving mobile design and development.</p>
                    <h3 class="text-center">Location</h3>
                    <p class="text-center">San Francisco bay area</p>
                    <h3 class="text-center">Hobbies</h3>
                    <p class="text-center">Coding, prototyping, designing interfaces, parenting, skateboarding, cooking, records, sometimes camping.</p>
                </div>
            </div>
        </div>
    </section>
    </div>