<!-- Contact Section -->
<section id="contact">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<h2>Resume</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-7 col-lg-offset-1">
			<h3>Experience</h3>
<p class="resume">Deluxe Distribution San Francisco, Ca. { 2007 - Present }<br />
Interactive / Motion Design</p>
Collaborate with marketing director to conceptualize titles, motion graphics and special effects. Introduced online advertising methods to the company through banner ads pre-rolls for targeted media outlets. Brought awareness of the importance of branded motion graphics in promotional online skateboarding videos. Administer the company's web department and online media. Lead design and development of interactive projects for all company brands from concept and information flow to design, development, launch, and promotion through social media, web banner ads, and video pre-rolls. In charge of strategy and planning of the user experience for all interactive products. Initiated a mobile-first approach to web development for the company.


<p class="resume">Young & Rubicam San Francisco, Ca. { 2005 - 2007 }<br />
Interctive Art Director</p>
Oversaw complete process of interactive projects from concept to finished product. Worked with account managers, creative directors and interactive team to achieve seamless brand solutions for campaigns across all mediums. Developed prototype websites for new client pitches. Worked as team leader on several time sensitive projects for high-profile clients. Re-designed and helped code and develop the Young and Rubicam San Francisco branch website. Created a pattern and animation library for team members to use as project baseline starts. Clients included Palm, NCAA, Dr. Pepper, 7-Up, MSN, Cadence, MSNTV, Hitachi, Chevron, Invisalign, Sunkist, Foster Farms, and FOX.
<p class="resume">
Young & Rubicam San Francisco, Ca. { 2004 - 2005 }<br />
Senior Designer</p>
Hired to expand upon the design and develop templates for the Jacuzzi.com website re-design. Site was hand coded using XHTML, CSS, PHP, and JavaScript. Went beyond job expectations to facilitate development for an outsourced programming team. Joined the team fulltime to maintain and upkeep the site.

<p class="resume">
United States Automotive Associaction (USAA) { 2002 - 2003 }<br />
UX Designer - e-commerce</p>
Redesigned e-commerce site user interface and flow for USAA.com within existing software constraints. Worked with programming team on all aspects of the design including wireframes and live prototypes for visual reference.

<p class="resume">esprit de corp. San Francisco, Ca. { April 2001 - February 2002 }<br />
Interaction designer</p>
In charge of overall website design. Responsibilities included developing concepts for promotional sites, e-commerce interface layouts and navigation, promotional sections, catalogs, online and email marketing campaigns.
<hr />
<h3>Education</h3>
<p class="resume">
Codepath</p>
San Francisco, Ca. { Fall 2015 }<br />
iOS (Swift) for Designers<br />
8 week intensive booktcamp focused on using native iOS interactions with Swift.<br />
1 of three app projects chosen to present at Demo Day 2015.<br />
Honor Student

<p class="resume">
Academy of Art College</p>
San Francisco, Ca. { Fall 1998 - Spring 2000 }<br />
Master of Fine Arts Graphic Design

<p class="resume">University of New Orleans</p>
New Orleans, La. { Fall 1992 - Fall 1996 }<br />
Bachelor of Arts { Psychology }


			</div>
			<div class="col-lg-3">
			<h3>Skills</h3>
			<ul>
			<li>Mobile application development
			<li>Interaction design
			<li>Visual design
			<li>User Interface Design
			<li>Wireframing, and Information Flow
			<li>Rapid prototyping
			<li>Web developemnt
			<li>Responsive Web Design
			<li>Image Production
			<li>Video production/Compression
			<li>Web optimizing
			<li>Search Engime Optimization
			<li>Animation & Motion design
			</ul>
<hr />
<h3>Tools</h3>
<ul>
<li>Swift (iOS), Xcode & Parse
<li>Ionic, Phonegap, & Cordova
<li>HTML5 & CSS3
<li>CSS Frameworks - Bootstrap & Foundation
<li>Javascript,  JQuery & Angular JS
<li>Various coding editors
<li>Quartz Composer with Origami
<li>Framer JS
<li>Sketch
<li>Adobe Photoshop, Illustrator, After Effects
<li>OmniGraffle
<li>Cinema 4D
<li>Github
<li>Wordpress
</ul>
			</div>
		</div>
	</div>
</section>
